@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["photoActive"] = true;
}

<a href="@Url.Action("ApiIndex", "Photo")">Homepage</a>
@if (User.IsInRole("ADMIN"))
{
    <a class="mx-2" href="@Url.Action("Index", "Photo")">Area amministrativa</a>
}

<div class="d-flex flex-column text-center py-5">
    <img class="m-auto" width="500" src="/@Model.Url" alt="...">
    <div class="px-5 py-4">
        <h1>@Model.Title</h1>
        <p>@Model.Description</p>
        <br />
        @foreach (var category in Model.Categories)
        {
            <div>@category.Name</div>
        }
    </div>
</div>
